extends ../layout

block content
  div.container
    div.col-md-4.col-sm-6.col-xs-12
      img(src='/images/robert_1.jpg',style='width:100%')
    div.col-md-4.col-sm-6.col-xs-12
      img(src='/images/robert_2.jpg',style='width:100%')
    div.col-md-4.col-sm-6
      img(src='/images/robert_3.jpg',style='width:100%')
    div.col-md-4.col-sm-6
      img(src='/images/robert_4.jpg',style='width:100%')



  h1= title
  p Welcome to #{message}

  div#app
    span {{ message }}
    ul
      li(v-for='(i,v) in value')
        span {{v}}:{{i+1}}


  script.
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        value:[1,2,3,4]

      }
    })

