doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title CRM

    link(rel='stylesheet',href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    script(src="http://cdn.bootcss.com/vue/1.0.28/vue.min.js")




  body
    nav.navbar.navbar-default(style='margin-bottom:0')
      div.container-fluid(style='margin-left:0;padding-left:0;background-color:#097fbb')
        div.navbar-header(style='width:200px')
          img(src='/images/layout/layout_logo.png' style='width:48px;padding:5px') 
          span(style='font-size:16pt;color:white;font-weight:bold;') CRM管理系统
        div.navbar-left(style='border-left:1px solid #8db1c4')
          p(style='line-height:48px;height:48px;margin-left:20px;padding-left:25px;color:white;\
            background:url("/images/layout/layout_horn.png") no-repeat left center') 通知：
            span 0:00 - 2:00 停机维护
        div.navbar-right(style='width:200px;height:48px;line-height:48px')
            img(src='/images/layout/layout_profile.png',style='display:inline-block') 
            span(style='color:#8db1c4;margin-left:10px;margin-right:10px;display:inline-block') |
            img(src='/images/layout/layout_head_image.png',style='display:inline-block;margin-right:10px') 
            span(style='color:white') 员工 张三


    div.container-fluid(style='margin:0;padding:0')
        div(style='width:201px;background:#d9d9d9;height:580px;float:left')
          ul
            li 
              h5(style='height:40px;line-height:40px;margin-left:10px') 
                span.glyphicon.glyphicon-cog(aria-hidden="true") 
                span(style='display:inline-block;margin-left:5px;font-size:12pt') 系统设置
              ul
                li(style='background:#f5f5f5')
                  a(href='#',style='height:25px;line-height:25px;margin-left:20px;')
                    span.glyphicon.glyphicon-tree-deciduous(aria-hidden="true") 
                    span(style='display:inline-block;margin-left:5px') 部门设置
                li
                  a(href='#',style='height:25px;line-height:25px;margin-left:20px;')
                    span.glyphicon.glyphicon-user(aria-hidden="true") 
                    span(style='display:inline-block;margin-left:5px') 负责人设置

        div(style='background:#e6e6e6;padding-left:200px;height:580px')
          block content
    
    nav.navbar.navbar-default.navbar-fixed-bottom(style='margin:0;padding:0;min-height:30px;background-color:#097fbb')
      div.container-fluid(style='margin:0;padding:0')
        p(style='text-align:center;color:white;margin-top:5px') Copyright © 2012-2017 置创明匠 版权所有

    script(src='http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script.
      var test={};